#logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1560px;
    margin: 0;
}

#services .surface img {
    filter: none;
}

header {
    padding: 10rem 0;
}