/* CSS reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: inherit;
	text-decoration: inherit;
}

@font-face {
  font-family: PP Fragment;
  src: url(../fonts/PPFragment-GlareLight.otf);
}

@font-face {
  font-family: PP Fragment Italic;
  src: url(../fonts/PPFragment-GlareLightItalic.otf);
}

@font-face {
  font-family: PP Mori;
  src: url(../fonts/PPMori-Regular.otf);
  font-weight: 300;
}

@font-face {
  font-family: PP Mori;
  src: url(../fonts/PPMori-SemiBold.otf);
  font-weight: 500;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	padding: 16px;
	font-size: 1.125rem;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS reset end */


html, body, :root {
  font-family: 'PP Mori', sans-serif;
  line-height: 1.875rem;
  font-weight: 300;
  text-decoration: inherit;
  text-transform: inherit;
  --color-text: #292A27;
  --color-background: #E9E7E2;
  --color-surface: #DFDDD8;
  --color-primary: #647E50;
  color: var(--color-text);
  background: var(--color-background);
  margin: 0;
  overflow-x: hidden;
}


/* Helper classes */



.m0 {
  margin: 0 !important;
}

.ml0 {
  margin-left: 0 !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mr0 {
  margin-right: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.m2 {
  margin: 2px !important;
}

.m8 {
  margin: 8px !important;
}

.m12 {
  margin: 12px !important;
}

.m16 {
  margin: 16px !important;
}

.m24 {
  margin: 24px !important;
}

.m40 {
  margin: 40px !important;
}

.ml8 {
  margin-left: 8px !important;
}

.mt8 {
  margin-top: 8px !important;
}

.mr8 {
  margin-right: 8px !important;
}

.mb8 {
  margin-bottom: 8px !important;
}

.ml12 {
  margin-left: 12px !important;
}

.mt12 {
  margin-top: 12px !important;
}

.mr12 {
  margin-right: 12px !important;
}

.mb12 {
  margin-bottom: 12px !important;
}

.ml16 {
  margin-left: 16px !important;
}

.mt16 {
  margin-top: 16px !important;
}

.mr16 {
  margin-right: 16px !important;
}

.mb16 {
  margin-bottom: 16px !important;
}


.ml24 {
  margin-left: 24px !important;
}

.mt24 {
  margin-top: 24px !important;
}

.mr24 {
  margin-right: 24px !important;
}

.mb24 {
  margin-bottom: 24px !important;
}

.ml40 {
  margin-left: 40px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.p0 {
  padding: 0 !important;
}

.pl0 {
  padding-left: 0 !important;
}

.pt0 {
  padding-top: 0 !important;
}

.pr0 {
  padding-right: 0 !important;
}

.pb0 {
  padding-bottom: 0 !important;
}


.p8 {
  padding: 8px !important;
}

.p12 {
  padding: 12px !important;
}

.p16 {
  padding: 16px !important;
}

.p24 {
  padding: 24px !important;
}

.p40 {
  padding: 40px !important;
}

.p48 {
  padding: 48px !important;
}

.pl8 {
  padding-left: 8px !important;
}

.pt8 {
  padding-top: 8px !important;
}

.pr8 {
  padding-right: 8px !important;
}

.pb8 {
  padding-bottom: 8px !important;
}

.pl12 {
  padding-left: 12px !important;
}

.pt12 {
  padding-top: 12px !important;
}

.pr12 {
  padding-right: 12px !important;
}

.pb12 {
  padding-bottom: 12px !important;
}

.pl16 {
  padding-left: 16px !important;
}

.pt16 {
  padding-top: 16px !important;
}

.pr16 {
  padding-right: 16px !important;
}

.pb16 {
  padding-bottom: 12px !important;
}

.pl24 {
  padding-left: 24px !important;
}

.pt24 {
  padding-top: 24px !important;
}

.pr24 {
  padding-right: 24px !important;
}

.pb24 {
  padding-bottom: 24px !important;
}

.pl40 {
  padding-left: 40px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.pr40 {
  padding-right: 40px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.red {
    color: #FF4637;
}

.white {
    color: white;
}

.olive {
  color: var(--color-primary);
}


.space-divider {
  height: 72px;
}

.space-divider-32 {
  height: 32px;
}

.space-divider-48 {
  height: 48px;
}


.float-right {
	float: right;
}

.float-down {
    position: absolute;
    left: 0;
    animation: bounce 1s infinite;
}

@keyframes bounce {
  0% {bottom: 16px}
	50% {bottom: 8px}
  100% {bottom: 16px;}
}

.text-right {
	text-align: right;
}

/* Helper classes end */




small {
    color: #6B8B99;
    font-size: 12px;
    line-height: 18px;
}



.container, section {
  max-width: 1200px;
  margin: auto;
}

.grid-container-col{
  display: grid;
  gap: 48px;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  place-items: start;
}

.grid-container-row{
  display: grid;
  gap: 48px;
  grid-template-rows: 1fr;
  place-items: start;
}

/* CSS Grid System - No rows needed */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
  max-width: 1200px;
  margin: 0 auto;
}

.col-1 { grid-column-end: span 1; }
.col-2 { grid-column-end: span 2; }
.col-3 { grid-column-end: span 3; }
.col-4 { grid-column-end: span 4; }
.col-5 { grid-column-end: span 5; }
.col-6 { grid-column-end: span 6; }
.col-7 { grid-column-end: span 7; }
.col-8 { grid-column-end: span 8; }
.col-9 { grid-column-end: span 9; }
.col-10 { grid-column-end: span 10; }
.col-11 { grid-column-end: span 11; }
.col-12 { grid-column-end: span 12; }

.row-1 { grid-row-end: span 1; }
.row-2 { grid-row-end: span 2; }
.row-3 { grid-row-end: span 3; }
.row-4 { grid-row-end: span 4; }

.col-start-1 { grid-column-start: 1; }
.col-start-2 { grid-column-start: 2; }
.col-start-3 { grid-column-start: 3; }
.col-start-4 { grid-column-start: 4; }
.col-start-5 { grid-column-start: 5; }
.col-start-6 { grid-column-start: 6; }
.col-start-7 { grid-column-start: 7; }
.col-start-8 { grid-column-start: 8; }
.col-start-9 { grid-column-start: 9; }

@media (min-width: 769px) {
  .md\:col-start-1 { grid-column-start: 1; }
  .md\:col-start-2 { grid-column-start: 2; }
  .md\:col-start-3 { grid-column-start: 3; }
  .md\:col-start-4 { grid-column-start: 4; }
  .md\:col-start-5 { grid-column-start: 5; }
  .md\:col-start-6 { grid-column-start: 6; }
  .md\:col-start-7 { grid-column-start: 7; }
  .md\:col-start-8 { grid-column-start: 8; }
  .md\:col-start-9 { grid-column-start: 9; }
  
  .md\:col-1 { grid-column-end: span 1; }
  .md\:col-2 { grid-column-end: span 2; }
  .md\:col-3 { grid-column-end: span 3; }
  .md\:col-4 { grid-column-end: span 4; }
  .md\:col-5 { grid-column-end: span 5; }
  .md\:col-6 { grid-column-end: span 6; }
  .md\:col-7 { grid-column-end: span 7; }
  .md\:col-8 { grid-column-end: span 8; }
  .md\:col-9 { grid-column-end: span 9; }
  .md\:col-10 { grid-column-end: span 10; }
  .md\:col-11 { grid-column-end: span 11; }
  .md\:col-12 { grid-column-end: span 12; }
}

@media (max-width: 768px) {
  .grid {
    gap: 16px;
  }
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
  .col-7, .col-8, .col-9, .col-10, .col-11 {
    grid-column-end: span 12;
  }
  .col-start-1, .col-start-2, .col-start-3, .col-start-4, .col-start-5,
  .col-start-6, .col-start-7, .col-start-8, .col-start-9 {
    grid-column-start: 1;
  }
  
  /* Mobile-specific columns */
  .sm\:col-1 { grid-column-end: span 1; }
  .sm\:col-2 { grid-column-end: span 2; }
  .sm\:col-3 { grid-column-end: span 3; }
  .sm\:col-4 { grid-column-end: span 4; }
  .sm\:col-5 { grid-column-end: span 5; }
  .sm\:col-6 { grid-column-end: span 6; }
  .sm\:col-7 { grid-column-end: span 7; }
  .sm\:col-8 { grid-column-end: span 8; }
  .sm\:col-9 { grid-column-end: span 9; }
  .sm\:col-10 { grid-column-end: span 10; }
  .sm\:col-11 { grid-column-end: span 11; }
  .sm\:col-12 { grid-column-end: span 12; }
  
  .sm\:col-start-1 { grid-column-start: 1; }
  .sm\:col-start-2 { grid-column-start: 2; }
  .sm\:col-start-3 { grid-column-start: 3; }
  .sm\:col-start-4 { grid-column-start: 4; }
  .sm\:col-start-5 { grid-column-start: 5; }
  .sm\:col-start-6 { grid-column-start: 6; }
  .sm\:col-start-7 { grid-column-start: 7; }
}

.surface {
  background: var(--color-surface);
  /* box-shadow: 0 5px 10px -5px rgba(0,0,0,0.50); */
  border: 2px solid var(--color-background);
  border-radius: 8px;
  padding: 32px;
  display: block;
}

#projects .surface {
    height: 450px;
    overflow: hidden;
    position: relative;
}




.cover {
    transition-duration: 500ms;
    transition-property: all;
    max-width: 125%;
    margin-left: 0%;
}


#projects .surface:hover .cover {
    transform: scale(0.9);
}


.casestudy {
    min-height: 600px;
    margin-bottom: 56px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    position: sticky;
    top: 0;
    border-width: 4px;
}

.casestudy-img {
    max-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 56px; */
}

h1 {
    font-family: 'PP Fragment', sans-serif;
    font-size: 3.5rem;
    line-height: 3.5rem;
    font-weight: 100;
    letter-spacing: -1px;
}

h2, .highlight, .figure {
    font-family: 'PP Fragment', sans-serif;
    font-size: 2.5rem;
    line-height: 2.75rem;
    margin-bottom: 12px;
    font-weight: 100;
    transition: 200ms color;
    text-wrap: balance;
}

h3 {
    font-family: 'PP Fragment', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 12px;
    font-weight: 100;
    transition: 200ms color;
}



h4 {
    font-size: 0.875rem;
    color: var(--color-primary);
    letter-spacing: 2px;
    text-transform: uppercase;
    /* line-height: 22px; */
    font-weight: 700;
    margin-bottom: 12px;
    /* font-family: 'Plus Jakarta Bold', 'inter'; */
}


h5, .h5, p b, li b, .bold {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 12px;
  text-decoration: none;
}

p b, li b, .bold {
    color: var(--color-primary);

}

h6 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom:12px;
}

p {
    margin-bottom: 16px;
    /* font-size: 1.25rem; */
}

em, i {
    font-style: italic;
}

a {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: var(--color-text);
    transition: 200ms color;
    display: inline-block;
}


.quote {
    font-family: 'PP Fragment Italic';
    font-size: 24px;
    line-height: 32px;
    font-style: italic;
    font-weight: 100;

}

.quote::before {
  content: '“';
  position: absolute;
  margin-left: -10px;
}

.quote::after {
  content: '”';
  position: absolute;
}

.fawn {
  color: var(--color-text);
}

a:hover, a:hover h2, a:hover h3, #featured a:hover h2 {
    opacity: .8;
}

p a, ul a {
    font-size: inherit;
    font-weight: inherit;
    text-decoration: underline;
    text-underline-position: under;
}

.text {
    font-size: 1rem;
    line-height: 1.65rem;
}

li {
    margin-bottom: 12px;
}

a:hover .arrow {
    position: relative;
    right: -8px;
}

a:hover .icon-out {
  position: relative;
  top: -4px;
  right: -4px;
}


header {
    min-height: 500px;
    position: relative;
    padding-top: 10rem;
    /* overflow-x: hidden; */
}

header#home {
    /* background-image: url(../images/hero-photo.png); */
    /* background-size: 300px; */
    /* background-repeat: no-repeat; */
    /* background-position-x: 60vw; */
    /* background-position-y: 5rem; */
    /* margin-right: -16px; */
    /* min-height: 450px; */
    /* overflow: visible; */
    /* overflow-x: hidden; */
    /* min-height: 750px; */
    /* margin-bottom: -150px; */
    /* top: 16px; */
    /* padding: 8rem 0; */
}

section {
  padding: 6rem 0;
}

footer {
    /* margin-top: 5rem; */
    /* max-width: 2160px; */
    /* margin: auto; */
    margin-bottom: 4rem !important;
    margin-top: 4rem !important;
    /* padding: 24px; */
}

nav {
    /* max-width: 2160px; */
    /* margin: auto; */
    /* padding: 16px 24px; */
    /* position: fixed; */
    /* width: 100%; */
    /* margin: -16px; */
    /* z-index: 1000; */
    /* backdrop-filter: blur(4px); */
    /* top: 0; */
}


nav a {color: var(--color-primary);}

.nav-content {border-bottom: 1px solid var(--color-primary); padding: 24px 0;}

a.active {
    color: var(--color-text);
}


main#project {
    /* color: rgba(255, 255, 255, 0.85); */
}

.arrow {
    filter: brightness(0.5);
}

.underline h3, a.btn {
    /* text-decoration: underline; */
    /* text-underline-position: under; */
    border: 1px solid var(--color-primary);
    padding: 12px 48px;
    display: inline-block;
}

.about-section {
  align-items: start;
}

.about-images {
  display: grid;
  grid-template-rows: repeat(2, minmax(0, 250px));
}

@media (max-width: 768px) {
  .about-images {
    grid-template-rows: auto;
  }
}

.about-images figure {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.about-images .img-wrapper {
  flex: 1;
  overflow: hidden;
}

.about-images figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .about-section {
    max-height: none;
  }
}

.card {
    width: 100%;
    padding: 16px 0;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0px 2px 1px -1px #B8C6CC, 0px 1px 1px 0px #B8C6CC, 0px 1px 3px 0px #B8C6CC;
    /* display: flex; */
    /* flex-direction: column; */
    box-sizing: border-box;
}

.bar {
    display: block;
    height: 2px;
    background: var(--color-primary);
    width: 100px;
}

.bottom-border {padding-bottom: 4px;border-bottom: 1px solid var(--color-primary);}

.bullets {
    list-style: disc;
    padding-left: 24px;
}

.texture {
    position: absolute;
    height: 100%;
    z-index: 100;
    right: -20rem;
    top: 0rem;
    opacity: 0.25;
}

.figure, blockquote {
    padding-left: 16px;
    border-left: 4px solid var(--color-primary);
}


figcaption, .caption {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-style: italic;
    text-align: center;
    font-weight: 500;
    color: var(--color-primary);
}


.primary {
    height: 48px;
    background: #20AEFD;
    border-radius: 4px;
    color: var(--color-text);
    font-size: 14px;
    font-weight: 600;
    font-family: inherit;
    padding: 0 24px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* display: block; */
    cursor: pointer;
    min-width: 256px;
}

.button {
    height: 40px;
    background: var(--color-text);
    border: 1px solid #B8C6CC;
    color: #20AEFD;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    padding: 0 16px;
    border-radius: 40px;
    cursor:  pointer;
    min-width: 160px;
}


.button-blue {
    background: #20AEFD;
    border: none;
    color: white;
}

.submit-btn {
  padding: 0.5rem 1rem;
  background: var(--color-primary);
  border: 1px solid var(--color-primary);
  font-size: 1rem;

}

.input {
  background: none;
  box-shadow: none;
  outline: none;
  border: none;
  border: 0.25px solid var(--color-text)75;
  font-size: 1rem;
  padding: .5rem;
  color: #fff;
}

.center {
    text-align: center;
    width: 100%;
}

.inline {
  display: inline-block;
}

.align-row {
  display: flex;
  flex-direction: row;
}

.align-center {
  align-items: center;
  justify-content: center;
}

.align-col {
  display: flex;
  flex-direction: column;
}

.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.gap-32 {
  gap: 32px;
}

#logo {
	height: 32px;
}

.logo {
    margin-top: -4px;
    filter: brightness(0.25);
    /* position: absolute; */
}

.logo-showcase {
  max-height: 36px;
  max-width: 140px;
  /* margin-bottom: 16px; */
  align-self: center;
}

.icon-24 {
    max-height: 24px;
    align-self: baseline;
    filter: brightness(0.5);
}

.icon-32 {
  max-height: 32px;
  align-self: baseline;
  filter: brightness(0.5);
}

.icon-48 {
    max-height: 48px;
    max-width: 48px;
    filter: brightness(0.5);
    /* align-self: baseline; */
}

.progress {
    height: 4px;
    background: #FE9A4F;
    position: relative;
}

.progress-completed {
    background: #FFE148;
    height: 4px;
}

#left {
    background: #FFE148;
    background: #eded5e;
    padding: 24px;
}

.hidden {
    display: none;
    opacity: 0;
}

.onload, .lazyscroll {
	opacity: 0;
	translate: -8px 0px;
	transition: all 400ms ease-out;
	transition-delay: 100ms;
}

.onload{
	opacity: 0;
	filter: blur(16px);
	transition: all 1200ms ease-out;
	transition-delay: 200ms;
}


.fadein {
	opacity: 1;
	filter: blur(0px);
	translate: 0;
}

#tasks #left {
    background-image: url("file:///Users/masnabinumeed/Desktop/Mauqa/webform/assets/images/onboarding_1.png");
    background-position: bottom;
    background-size: 90%;
    background-repeat: no-repeat;
}


main {
    /* padding: 32px; */
    margin-bottom: 24px;
    margin-top: 8px;
}

.screenscroll {
    display: block;
    justify-content: center;
    text-align: center;
    overflow: scroll;
    margin-left: -16px;
    margin-right: -32px;
    white-space: nowrap;
}

.screenscroll img {
    max-width: 320px;
    padding: 12px;
    display: inline-block;
}


.checklist {
    /* margin-bottom: 12px; */
    cursor: pointer;
    padding: 8px 16px;
    transition: 300ms;
    transition-property: all;
}

.checklist:hover {
    background: hsla(165, 0%, 98%, 1);
}

.casestudy h4 {
    color: var(--color-text);
}

.casestudy#featured {
    background: #20AEFD;
}

#featured h2 {
    color: var(--color-text);
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  padding: 16px;
  z-index: 100000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  transition: 300ms;
  transition-property: all;
}

/* Modal Content/Box */
.modal-content {
  margin: 20vh auto; /* 15% from the top and centered */
  padding: 32px;
  max-width: 600px; /* Could be more or less, depending on screen size */
  background: #FFFFFF;
  box-shadow: 0 4px 12px -4px rgba(26,37,51,0.30);
  border-radius: 8px;
  position: relative;
}

/* The Close Button */
.close {
  color: #6B8B99;
  float: right;
  font-size: 32px;
  position: absolute;
  right: 16px;
  top: 16px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


a i {
    cursor: pointer;
}

.blob {
  position: absolute;
  width: 300px;
  height: 300px;
  background: var(--color-text);
  mix-blend-mode: soft-light;
  filter: blur(150px);
  border-radius: 1000px;
  animation: scaleUpDown 10s ease-in-out 5;
}


@keyframes scaleUpDown {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: .1;
  }
}


/* for tablet and smaller */

@media (min-width: 576px)
.container, .container-sm {
    max-width: auto;
}


@media (max-width: 768px) {

#left {
    display: none;
}

main {
    /* padding: 16px; */
}
.surface {
  padding: 36px 24px;
}

.casestudy-img {
    /* display: block; */
    max-height: initial;
    padding: 48px 0;
}

.casestudy-img img {
  max-width: 100%;
}

.hidden-sm {
    display: none;
}


.texture {
    right: -25rem;
}

footer {
  padding: 0px;
}

section {
  padding: 4rem 0;
}

 }


@view-transition {
  navigation: auto;
}
}